@import '../../../main-style.scss';

.note-card-container {
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 15px 2px rgba(black, 0.068);
    height: 170px;
    position: relative;
    transition: box-shadow 0.2s ease-out;


    &:hover {
        box-shadow: 0px 0px 0px 4px rgba(black, 0.068);
        cursor: pointer;

        .x-button {
            opacity: 1;
            transform: scale(1);
            transition-delay: 0.30s;
        }

        .navbutton {
            opacity: 1;
            transform: scale(1);
            transition-delay: 0.30s;
        }
    }

    .note-card-content {
        padding: 25px;

        .note-card-title {
            font-size: 22px;
            font-weight: bold;
            color: black;
        }

        .note-card-body {
            max-height: 100px;
            overflow: hidden;
            position: relative;
        }
        
        .fade-out-truncation {
            background: linear-gradient(to bottom, rgba(white, 0) 0%, rgba(white,0.8) 50%,white 100%);
            bottom: 0;
            height: 50%;
            pointer-events: none;
            position: absolute;
            width: 100%;
        }

        .note-card-footer {
            // position: absolute;
            left: 25px;
            height: 25px;
            bottom: 10px;
        }
    }
}



.x-button {
    background: white;
    border-radius: 4px;
    opacity: 0;
    position: absolute;
    right: 16px;
    top: 16px;
    transform: scale(0.35);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;

    &:hover {
        background-color: darken($light-grey, 2%);
    }

    &:active {
        background-color: darken($light-grey, 5%);
    }
}

